@model List<DocumentoBean>
@{
    ViewData["Title"] = "allDocumento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista Documentos
    </div>
    <div class="card-body">
        <a asp-action="saveDocumento" asp-controller="Documento" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered" id="tblData">
            <thead>
                <tr>
                    <th>Id Orden Documento</th>
                    <th>Documento</th>
                    <th>id Cliene</th>
                    <th>id Producto</th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idOrdenDocumento</td>
                        <td>@item.documento</td>
                        <td>@item.idCliente</td>
                        <td>@item.idProducto</td>
                        <td>
                            <a asp-action="Edita" asp-controller="Documento" class="btn btn-primary btn-sm" asp-route-IdOrdenDocumento="@item.idOrdenDocumento">Editar</a>
                            <a asp-action="Elimina" asp-controller="Documento" class="btn btn-danger btn-sm" asp-route-IdOrdenDocumento="@item.idOrdenDocumento">Eliminar</a>

                        </td>
                    </tr>

                }
            </tbody>
        </table>


    </div>
</div>




